body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0a2342;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 40px;
  background: white;
  margin: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
