name: Deploy Website to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy static site to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu
            if [ -d ec2-cicd-website ]; then
              cd ec2-cicd-website && git pull origin main
            else
              git clone https://github.com/dlittle-source/ec2-cicd-website.git
            fi
            sudo rsync -av --delete /home/ubuntu/ec2-cicd-website/website/ /var/www/html/
            sudo chown -R www-data:www-data /var/www/html
            sudo chmod -R 755 /var/www/html
            sudo systemctl reload nginx

